*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  line-height: 1.4;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1a2b5f;
}
.logo__text {
  color: #ffc87a;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: none;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--gradient {
  background: #ffea7b;
  background: linear-gradient(180deg, #ffea7b 0%, #ffca7a 100%);
}
.btn--shadow {
  box-shadow: 0 10px 40px -10px #ffc87a;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 1023px) {
  .banner {
    margin: 5rem 0;
  }
  .banner__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__buttons .btn {
    font-size: 1.4rem;
  }

  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2.5rem;
  }

  .feature {
    margin: 10rem 0;
  }
  .feature__item {
    flex-direction: column;
    margin-bottom: 8rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding: 0;
  }
  .feature__image, .feature__info {
    width: 100%;
  }
  .feature__image {
    margin-bottom: 2rem;
  }
  .feature__image img {
    margin: 0 auto;
  }

  .partner {
    margin-bottom: 10rem;
  }
  .partner__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .header__bar {
    display: inline-block;
  }

  .category__item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .category__image {
    height: 15rem;
  }

  .partner {
    margin-bottom: 5rem;
  }
  .partner__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 2rem;
  }
  .partner__item img {
    margin: 0 auto;
  }

  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .subscribe__container {
    flex-direction: column;
  }
  .subscribe__title {
    width: 100%;
    margin-bottom: 2rem;
  }
  .subscribe__info {
    width: 100%;
  }

  .footer__container {
    flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 479px) {
  .banner__heading {
    font-size: 3rem;
  }
  .banner__buttons .btn {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
